* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    display: flex;
    justify-content: space-between;
    background: pink;
    height: 50px;
}

.hero {
    background: lightblue;
    justify-content: space-between;
    height: 200px;
}

.list-menu {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navigation {
        background: pink;
    }
    .hamburger {
        display: none;
    }
    .list-menu {
        display: flex;
        justify-content: space-between;
        width: 30%;
    }

    .hero {
        flex-direction: row;
    }
}